<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <a href="/"><i aria-hidden="true"></i>  Exchange</a>   <a href="/calculator"><i aria-hidden="true"></i>  Calculator</a><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="question1">1. What is a correct syntax to output "Hello World" in Python?</label><br><br>
        <input type="radio" id="1" name="quiz1" value="1">
        <label for="question1"> print("Hello World")</label><br>
        <input type="radio" id="2" name="quiz1" value="2">
        <label for="question1"> echo "Hello World"</label><br>
        <input type="radio" id="3" name="quiz1" value="3">
        <label for="question1"> p("Hello World")</label><br>
        <input type="radio" id="4" name="quiz1" value="4">
        <label for="question1"> echo("Hello World");</label><br><br>

        <label for="question2">2. How do you insert COMMENTS in Python code?</label><br><br>
        <input type="radio" id="1" name="quiz2" value="1">
        <label for="question2"> #This is a comment</label><br>
        <input type="radio" id="2" name="quiz2" value="2">
        <label for="question2"> //This is a comment</label><br>
        <input type="radio" id="3" name="quiz2" value="3">
        <label for="question2"> /*This is a comment*/</label><br><br>

        <label for="question3">3. Which one is NOT a legal variable name?</label><br><br>
        <input type="radio" id="1" name="quiz3" value="1">
        <label for="question3"> my-var</label><br>
        <input type="radio" id="2" name="quiz3" value="2">
        <label for="question3"> _myvar</label><br>
        <input type="radio" id="3" name="quiz3" value="3">
        <label for="question3"> Myvar</label><br>
        <input type="radio" id="4" name="quiz3" value="4">
        <label for="question3"> my_var</label><br><br>

        <label for="question4">4. How do you create a variable with the numeric value 5?</label><br><br>
        <input type="radio" id="1" name="quiz4" value="1">
        <label for="question4">  x = int(5)</label><br>
        <input type="radio" id="2" name="quiz4" value="2">
        <label for="question4"> x = 5</label><br>
        <input type="radio" id="3" name="quiz4" value="3">
        <label for="question4"> Both the other answers are correct</label><br><br>

        <label for="question5">5. What is the correct file extension for Python files?</label><br><br>
        <input type="radio" id="1" name="quiz5" value="1">
        <label for="question5"> .pyth</label><br>
        <input type="radio" id="2" name="quiz5" value="2">
        <label for="question5"> .py</label><br>
        <input type="radio" id="3" name="quiz5" value="3">
        <label for="question5"> .pyt</label><br>
        <input type="radio" id="4" name="quiz5" value="4">
        <label for="question5"> .pt</label><br><br>

        <label for="question6">6. How do you create a variable with the floating number 2.8?</label><br><br>
        <input type="radio" id="1" name="quiz6" value="1">
        <label for="question6"> x = float(2.8)</label><br>
        <input type="radio" id="2" name="quiz6" value="2">
        <label for="question6"> Both the other answers are correct</label><br>
        <input type="radio" id="3" name="quiz6" value="3">
        <label for="question6"> x = 2.8</label><br><br>

        <label for="question7">7. What is the correct syntax to output the type of a variable or object in Python?</label><br><br>
        <input type="radio" id="1" name="quiz7" value="1">
        <label for="question7"> print(typeof(x))</label><br>
        <input type="radio" id="2" name="quiz7" value="2">
        <label for="question7"> print(typeOf(x))</label><br>
        <input type="radio" id="3" name="quiz7" value="3">
        <label for="question7"> print(type(x))</label><br>
        <input type="radio" id="4" name="quiz7" value="4">
        <label for="question7"> print(typeof x)</label><br><br>

        <label for="question8">8. What is the correct way to create a function in Python?</label><br><br>
        <input type="radio" id="1" name="quiz8" value="1">
        <label for="question8"> function myfunction():</label><br>
        <input type="radio" id="2" name="quiz8" value="2">
        <label for="question8"> def myFunction():</label><br>
        <input type="radio" id="3" name="quiz8" value="3">
        <label for="question8"> create myFunction():</label><br><br>

        <label for="question9">9. In Python, 'Hello', is the same as "Hello"</label><br><br>
        <input type="radio" id="1" name="quiz9" value="1">
        <label for="question9"> True</label><br>
        <input type="radio" id="2" name="quiz9" value="2">
        <label for="question9">False</label><br><br>

        <label for="question10">10. What is a correct syntax to return the first character in a string?</label><br><br>
        <input type="radio" id="1" name="quiz10" value="1">
        <label for="question10"> x = sub("Hello", 0, 1)</label><br>
        <input type="radio" id="2" name="quiz10" value="2">
        <label for="question10"> x = "Hello".sub(0, 1)</label><br>
        <input type="radio" id="3" name="quiz10" value="3">
        <label for="question10"> x = "Hello"[0]</label><br><br>
        <button>SUBMIT</button>
    </form><br>
    {{ score }} {{ score_input }}
</body>
</html>